<%@ Master Language="C#" MasterPageFile="~/Root.master" AutoEventWireup="true" CodeBehind="Light.master.cs" Inherits="SandBox.WebUi.LightMaster" %>

<%-- DXCOMMENT: Page Light.master is a master page for Account pages --%>
<asp:Content ID="Content1" ContentPlaceHolderID="Content" runat="server">
<asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>