#login_container {   
width: 250px;   
height: 250px;          
position:absolute;   
left: 50%;   
top: 40%;   
margin-left: -100px;   
margin-top: -100px;
font: 11px Arial, Helvetica, sans-serif;
background-color: white; 
} 
			
.login_frame {
width:100%;
height:100%;
padding-left: 25px;
padding-top: 10px;
}

.login_frame h2 
{
    font: Arial, Helvetica, sans-serif;
    margin: 10px 0 7px 0;
    font-size: 16px;
}

.login_frame p 
{
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.label
{   
}

			
.caption {   
font-weight:bolder;
}

#description_container
{
    width: 250px;   
    height: 50px;          
    position:absolute;   
    left: 50%;   
    top: 70%;   
    margin-left: -100px;   
    margin-top: -100px;
    font: 10px Arial, Helvetica, sans-serif;
    background-color: white;
    color: GrayText;
}

.center 
{
    text-align:center
}


/* Account */
.accountHeader h2 
{
    margin: 10px 0 7px 0;
    font-size: 16px;
}
.accountHeader p 
{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.accountHeader 
{
    margin-bottom: 20px;
}