<%@ Master Language="C#" MasterPageFile="~/Root.master" AutoEventWireup="true" CodeBehind="NestedMasterPage1.master.cs" Inherits="SandBox.WebUi.NestedMasterPage1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Content" runat="server">
</asp:Content>
