#error_container
{
    width: 300px;   
    height: 50px;          
    position:absolute;   
    left: 50%;   
    top: 50%;   
    margin-left: -100px;   
    margin-top: -100px;
    font: 11px Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

.center 
{
    text-align:center
}